body{
background-color:#FFFFC2;
margin:0.1px;
}
header
{
height:170px;
width: 1280px;
margin: 0.00001px;
background-color:pink;
border:0.001px solid black;
border-radius:5px;
}
h5,h6,p{
text-align:center;
}
h1{
text-align: left;
position: relative;
top:-5px;
}
h2{
text-align: left;
position: relative;
top:-15px;
}
h3{
padding:3px;
border:2px;
margin: 10px  15px 10px  0px  ;
text-align: center;
position: relative;
top:-150px;
}
h4{
text-align:right;
font-weight:bold;
position:relative;
right:20px;
top:-320px;
}


a {
text-decoration:none;
margin:1px;
font-weight:bold;
font-size:1.1em;
color:darkblue;
background-color:lightblue;
text-align:center;
border:2px solid black;
}
@media only screen and (min-width:1081px) and ( max-width:1300px){
 h3{ display:all;
font-size: 0.8em;}
h4{display: all;
font-size: 0.8em;
}
h5,h6,p{
font-size:0.8em;
text-align: center;
}
}
@media only screen and (min-width:940px) and ( max-width:1080px){
 h3{
display:all; font-size: 01.1em;}
h4{
font-size: 0.8em;
}
h5,h6,p{
font-size:0.8em;
text-align: center;
}
h1,h2,h4,h5,h6,p{
	position: relative;
	right: -320px;}
}
@media only screen and (min-width:730px) and ( max-width:940px){
 h3{
display:none;}
h4{
font-size: 0.6em;
}
h5,h6,p {
font-size:0.6em;
text-align: center;
}
h1,h2,h4,h5,h6,p{
	position: relative;
	right: -270px;}
}
@media only screen and ( max-width:730px){
 h3,h4{
display:none;}
h5,h6,p {
font-size:0.6em;
text-align: center;
}
h1,h2,h4,h5,h6,p{
	position: relative;
	right: -320px;}
}